<div class="container">
    <div class="card mt-5 mb-5 shadow-lg rounded card-header bg-secondary text-white">
        <h1 class="card-title m-0">Historique de toutes les commandes</h1>
    </div>
    
    @for (commande of commandes; track $index){
        <p>Id: {{commande.id}} 
           passée le: {{commande.date}} 
            Etat:
           <span>-> 
            <select [(ngModel)]="commande.etatId" (ngModelChange)="onEtatChange(commande)">
                <option [value]="commande.etatId">{{ getEtatLibelle(commande.etatId) }}</option>
                @for (state of getEtatLibelleArray(commande.etatId); track state.id) {
                  <option [value]="state.id">{{ state.libelle }}</option>
                }
              </select>
              
              
            </span>
        </p>
    }
</div>


    