<div class="container">
    @if(loaded){
    <form [formGroup]="editProduitForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label mt-5">Informations du produit</label>

            <!-- Champ pour le Nom -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom"
                    [ngClass]="{'is-valid': editProduitForm.get('nom')?.valid,
                    'is-invalid': editProduitForm.get('nom')?.invalid  && (editProduitForm.get('nom')?.dirty || editProduitForm.get('nom')?.touched)} ">
                <label for="nom">Nom</label>
                <!-- Message d'erreur pour le champ nom -->
                @if((editProduitForm.get('nom')?.touched || editProduitForm.get('nom')?.dirty) &&
                editProduitForm.get('nom')?.invalid){
                @if(editProduitForm.get('nom')?.hasError('required')){
                <span style="color:red;">Le Nom est requis.</span>
                }
                @if(editProduitForm.get('nom')?.hasError('minlength')){
                <span style="color:red;">Le Nom doit posséder au moins 2 caractères.</span>
                }
                }
            </div>

            <!-- Champ pour le Prix -->
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="prix" formControlName="prix" placeholder="Prix"
                    [ngClass]="{'is-valid': editProduitForm.get('prix')?.valid,
                    'is-invalid': editProduitForm.get('prix')?.invalid && (editProduitForm.get('prix')?.dirty || editProduitForm.get('prix')?.touched)}">
                <label for="prix">Prix</label>
                <!-- Message d'erreur pour le champ prix -->
                @if((editProduitForm.get('prix')?.touched || editProduitForm.get('prix')?.dirty) &&
                editProduitForm.get('prix')?.invalid){
                @if(editProduitForm.get('prix')?.hasError('required')){
                <span style="color:red;">Le Prix est requis.</span>
                }
                @if(editProduitForm.get('prix')?.hasError('min')){
                <span style="color:red;">le prix minimum est de 0€</span>
                }
                }
            </div>

            <!-- Champ pour la Quantité -->
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="quantite" formControlName="quantite"
                    placeholder="Quantité" [ngClass]="{'is-valid': editProduitForm.get('quantite')?.valid,
                    'is-invalid': editProduitForm.get('quantite')?.invalid && (editProduitForm.get('quantite')?.dirty || editProduitForm.get('quantite')?.touched)
                  }">
                <label for="quantite">Quantité</label>
                <!-- Message d'erreur pour le champ quantité -->
                @if((editProduitForm.get('quantite')?.touched || editProduitForm.get('quantite')?.dirty) &&
                editProduitForm.get('quantite')?.invalid){
                @if(editProduitForm.get('quantite')?.hasError('required')){
                <span style="color:red;">La Quantité est requise.</span>
                }
                }
                @if(editProduitForm.get('quantite')?.hasError('min')){
                <span style="color:red;">La quantité minimum est de 0.</span>
                }
            </div>

            <!-- Champ pour la Description -->
            <div class="form-floating mb-3">
                <textarea class="form-control" id="description" formControlName="description" placeholder="Description"
                    [ngClass]="{'is-valid': editProduitForm.get('description')?.valid,
                    'is-invalid': editProduitForm.get('description')?.invalid && (editProduitForm.get('description')?.dirty || editProduitForm.get('description')?.touched)
                  }"></textarea>
                <label for="description">Description</label>
                <!-- Message d'erreur pour le champ description -->
                @if((editProduitForm.get('description')?.touched || editProduitForm.get('description')?.dirty) &&
                editProduitForm.get('description')?.invalid){
                @if(editProduitForm.get('description')?.hasError('required')){
                <span class="invalid-feedback">La Description est requise.</span>
                }
                }
            </div>

            <!-- Champ pour la Catégorie -->
            <div class="form-floating mb-3">
                <select class="form-select" id="categorieId" formControlName="categorieId"
                    [ngClass]="{'is-valid': editProduitForm.get('categorieId')?.valid,
                    'is-invalid': editProduitForm.get('categorieId')?.invalid  && (editProduitForm.get('categorieId')?.dirty || editProduitForm.get('categorieId')?.touched)} ">
                    <option value="">Sélectionnez une catégorie</option>
                    @for (categorie of categories; track $index) {
                    <option [value]="categorie.id">{{categorie.nom}}</option>
                    }
                </select>
                <label for="categorieId">Catégorie</label>
                <!-- Message d'erreur pour le champ catégorie -->
                @if((editProduitForm.get('categorieId')?.touched || editProduitForm.get('categorieId')?.dirty) &&
                editProduitForm.get('categorieId')?.invalid){
                @if(editProduitForm.get('categorieId')?.hasError('required')){
                <span style="color:red;">La Catégorie est requise.</span>
                }
                }
            </div>

            <div class="form-group">
                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-primary" type="submit" [disabled]="editProduitForm.invalid">mettre à
                        jour le Produit</button>
                    <button class="btn btn-lg btn-primary" type="button" ProduitHomeButton>Retour</button>
                </div>
            </div>
        </div>
    </form>
    }
</div>