<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <!-- Partie gauche de la navbar -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="produits">Produits</a>
        </li>
      </ul>

      <!-- Partie droite de la navbar -->
      <ul class="navbar-nav ms-auto">
        @if(!isConnected){
            <li class="nav-item">
              <a class="nav-link" routerLink="auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="auth/register">Register</a>
            </li>
        }
        @else {
          <li class="nav-item ">
            <p class="nav-link">{{email}}</p>
          </li>
          <li class="nav-item icon">
            <a class="nav-link">👤</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
