<div class="container mt-5">
    @if(produits.length > 0){
        <div class="card mt-5 mb-5 shadow-lg rounded card-header bg-secondary text-white">
            <h1 class="card-title m-0">Liste des produits</h1>
        </div>

        @if(isAdmin)
        {
            <a routerLink="create"><button class="btn btn-success">Nouveau produit</button></a>
        }

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Details</th>
                    @if(isAdmin)
                    {
                        <th scope="col">Supprimer</th>
                        <th scope="col">Editer</th>
                    }
                    @if(IsConnected){
                        <th scope="col">Ajout Panier</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (produit of produits; track $index) {
                    <tr>
                        <td>{{produit.nom}}</td>
                        <td>{{produit.prix}} €</td>
                        <td>{{produit.categorie.nom}}</td>
                        <td><a [routerLink]="['details', produit.id]">🔍</a></td>
                    @if(isAdmin)
                    {
                        <td><a (click)="onDelete(produit.id)">❌</a></td>
                        <td><a [routerLink]="['edit', produit.id]">✏</a></td>
                    }
                    @if(IsConnected){
                        <td><input type="number" class="col-2" [(ngModel)]="quantites[produit.id]"/><span (click)="AddToBasket(produit.id,quantites[produit.id])" style="cursor: pointer;">🛒</span></td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>