<div class="container">
    <div class="card mt-5 mb-5 shadow-lg rounded card-header bg-secondary text-white">
        <h1 class="card-title m-0">Historique de vos commandes</h1>
    </div>
    
    @for (commande of commandes; track $index){
        <p>
            <span [routerLink]="['/commandes','details', commande.id]">🔍</span>
            Id: {{commande.id}} 
            passée le: {{commande.date}}
           <span [ngClass]="{
            'etat-en-attente': commande.etatId === 1,
            'etat-en-cours': commande.etatId === 2,
            'etat-valide': commande.etatId === 3,
            'etat-annule': commande.etatId === 4
          }">
           -> {{getEtatLibelle(commande.etatId)}}
           </span>
        </p>
    }
</div>