<div class="container">
    @if(produit)
    {

    <div class="card mt-5 mb-5 shadow-lg rounded card-header bg-secondary text-white">
        <h1 class="card-title m-0">Détails du produit</h1>
    </div>
    <div class="card-body">
        <p class="card-text"><strong>Nom :</strong> {{ produit.nom }}</p>
        <p class="card-text"><strong>Prix :</strong> {{ produit.prix }} €</p>
        <p class="card-text"><strong>Description :</strong> {{ produit.description }}</p>
        <p class="card-text"><strong>Quantité :</strong> {{ produit.quantite }}</p>
        <p class="card-text"><strong>Catégorie :</strong> {{ produit.categorie.nom }}</p>
    </div>
    }

    <div class="text-center mt-4">
        <button class="btn btn-lg btn-primary" ProduitHomeButton>Retour</button>
    </div>
</div>